body {
    background-color: hsl(216, 28%, 7%);
    border: 5px solid rgb(229, 72, 72);
    border-radius: 20px;
    color: white;        
    margin: 0;
    padding: 0;
    font-family: 'Copperplate', Fantasy;
}

h1 {
    text-align: center;
    font: 40px sans-serif;
}

h2 {
    text-align: center;
    font: 60px Copperplate;
}

h3 {
    text-align: center;
    font: 20px sans-serif;
}

button {
    align-content:   center;
    background-color: rgb(229, 72, 72);
    border: 2px solid rgb(229, 72, 72);
    font: 20px sans-serif;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    margin: 5px;
    padding: 5px;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    transition: opacity .2s;

}

button:hover {
    border-color: rgb(178, 55, 55);
    background-color:rgb(178, 55, 55)
}

button:active {
    border-color: rgb(126, 39, 39);
    background-color:rgb(126, 39, 39)
}

p {
    text-align: center;
    font: 20px sans-serif;
}

#To_do {
    text-align: center;
    font: 20px sans-serif;


}

div button {
    align-content:   center;
    background-color: rgb(229, 72, 72);
    border: 2px solid rgb(229, 72, 72);
    font: 15px sans-serif;
    color: rgb(0, 0, 0);
    padding: 4px;
    margin: 10px;
    border-radius: 10px;
}

div p {
    padding-left: 20px;
    text-align: left;
    font: 10px sans-serif;
}

h4 {
    text-align: center;
}

#pText {
    font: 20px sans-serif;
    text-align: center;
    margin-right: 28px;
}

#keyframe test {
    animation: opacity .5s;
}

input {
    text-align: center;
    background-color: rgb(229, 72, 72);
    border: 2px solid rgb(255, 91, 80);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 2in;
    font-size: 15px;
    height: 20px;
}

#tasks_list button{
    font: 20px sans-serif;
    border: none;
    background-color: rgb(229, 72, 72);
}

#credits {
    text-align: left;
    margin-left: .2cm;
    font: 10px sans-serif;
}

.container {
    text-align: center;
    
}

.task_list div {
    display:block;
    padding: auto;
    background-color: rgb(20, 27, 37);
    align-items: center;
    border-radius: 10px;
}

.task_list {
    background-color: rgb(20, 27, 37);
    border: 0px solid rgb(255, 255, 255);
    border-radius: 10px;
    min-width: max-content;
    width: fit-content;
    margin: auto;
}

#box {
    background-color: rgb(20, 27, 37);
    border: 0px solid rgb(255, 255, 255);
    border-radius: 10px;
    min-width: max-content;
    width: fit-content;
    margin: auto;
}

@media (min-width: 1000px) {
    H1 {
        float:left; display:inline; width: 49%;
    }
    H2 {
        float:left; display:inline; width: 49%;
    }
}
